{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<h1>Connexion</h1>

<form method="post">
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

    <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" class="form-control" required autofocus value="{{ last_username }}">
    </div>

    <div class="mb-3">
        <label>Mot de passe</label>
        <input type="password" name="password" class="form-control" required>
    </div>

    <button class="btn btn-primary">Se connecter</button>

    <div class="mt-3">
        <p class="mb-1">Pas encore de compte ?</p>
        <a class="btn btn-outline-primary" href="{{ path('app_register') }}">
            Créer un compte
        </a>
    </div>
</form>

{% endblock %}
